.header {
    background-color: var(--white);
}
.header .header-container {
    max-width: 1217px;
    margin: 0 auto;
}
.header-container .logo {
    max-width: 100px;
}
.header-container .logo > img {
    width: 100%;
    height: auto;
    object-fit: cover;
} 
.header-container .translate-icon {
    cursor: pointer;
}
.header-container .menu-bar {
    cursor: pointer;
    font-size: 1.75rem;
    color: var(--text-gray-dark);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.header-container .menu-bar:hover {
    color: var(--primary-rose);
}