.about-us-section .about-us-container {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1216px;
}
.about-us-section .about-us-container .about-us-img{
    max-width: 584px;
    height: auto;
}
.about-us-section .about-us-container .about-us-img > img {
    width: 100%;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}
.about-us-section .about-us-container .about-us-content-wrapper .about-us-heading {
    font-weight: 500;
    line-height: 60px;
    color: var(--text-black);
}
.about-us-section .about-us-container .about-us-description {
    max-width: 584px;
    font-weight: 400;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    line-height: 28px;
    color: var(--text-gray-dark);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
} 
.about-us-section.about-page .about-us-description {
    -webkit-line-clamp: unset;
    display: block;
    overflow: visible;
    text-overflow: unset;
}