.generic-card {
    max-width: 390px;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    background-color: #F9FAFB;
}
.generic-card .card-img {
    width: 100%;
    height: 320px;
    overflow: hidden;
    background-color: #D1D5DB;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    position: relative;
}
.generic-card .card-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.generic-card .card-img .share-icon {
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
.generic-card .card-img .share-icon:hover {
    transform: scale(0.96);
    -webkit-transform: scale(0.96);
    -moz-transform: scale(0.96);
    -ms-transform: scale(0.96);
    -o-transform: scale(0.96);
}
.generic-card .card-content {
    width: 100%;
    padding: 12px 24px;
}
.generic-card .card-content .card-classification {
    max-width: 159px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    vertical-align: middle;
    color: var(--primary-rose);
}
.generic-card .card-content .card-title {
    max-width: 342px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    vertical-align: middle;
    color: var(--text-black);
}
.generic-card .card-content .more-info {
    max-width: 124px;
}
.generic-card .card-content .more-info span {
    font-size: 12px;
    line-height: 16px;
    vertical-align: middle;
    color: var(--text-gray-light);
}
.generic-card .card-content .news-card {
    max-width: 342px;
}
.generic-card .card-content .news-card .card-subtitle {
    font-size: 14px;
    max-height: calc(20px * 2);
    font-weight: 400;
    line-height: 20px;
    color: var(--text-gray-dark);
    vertical-align: middle;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}