.section-header-container .section-header {
    line-height: 36px;
    text-align: center;
    color: var(--text-black);
}
.section-header-container .section-description {
    font-weight: 400;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    line-height: 28px;
    text-align: center;
    color: var(--text-gray-dark);
}