.about-us-card-container {
    max-width: 370px;
    height: auto;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    background-color: #FBEFF4;
    border: 1px solid var(--border-color);
    min-height: 251px;
    padding: 26px 28px 0 27px;
}
.about-us-card-container .about-us-card {
    max-width: 315px;
    gap: 27px;
}
.about-us-card-container .about-us-card .card-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    color: var(--text-black);
}
.about-us-card-container .about-us-card .card-details {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-gray-dark);
}