.team-member-card {
    max-width: 160px;
}
.team-member-card .member-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #D9D9D9;
    overflow: hidden;
}
.team-member-card .member-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.team-member-card .member-details .member-name {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: var(--text-black);
    text-align: center;
    text-transform: capitalize;
}
.team-member-card .member-details .member-role {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-gray-dark);
    text-align: center;
    text-align: center;
}
@media (max-width: 767px){
    .team-member-card .member-img {
        width: 120px;
        height: 120px;
    }
    .team-member-card .member-details .member-name {
        font-size: 1rem;
        font-weight: 400;
        line-height: 24px;
    }
    .team-member-card .member-details .member-role {
        font-size: 14px;
        line-height: 20px;
}
}