@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Fonts */
/* ---- AeOuhod ---- */
@font-face {
  font-family: 'AeOuhod';
  src: url('./assets/fonts/ae\ Ouhod\ Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'AeOuhod';
  src: url('./assets/fonts/ae\ Ouhod\ Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}
/* --- bahij--- */
@font-face {
  font-family: 'Bahij';
  src: url('./assets/fonts/Bahij\ The\ Sans\ Arabic\ Black.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Bahij';
  src: url('./assets/fonts/Bahij\ The\ Sans\ Arabic\ Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

:root {
  --primary-rose: #DF3F53;
  --secondary-blue: #007299;
  --header-footer-bg: #3E1A22;
  --text-black: #27111A;
  --text-gray-dark: #634B57;
  --text-gray-light: #888787;
  --white: #FAFAFA;
  --gray-light: #F5F5F5;
  --en-franklin-font: "Libre Franklin", sans-serif;
  --en-source-sans-font: "Source Sans 3", sans-serif;
  --ar-ae-ouhod: 'AeOuhod', sans-serif;
  --ar-bahij: 'Bahij', sans-serif;
  --border-radius: 8px;
  --border-color: rgba(223, 63, 83, 0.4);
  --secondry-bg-color: rgba(223, 63, 83, 0.06);
  --transition: 0.3s ease-in-out;
  --overlay: rgba(0,0,0,0.8);
}
body {
  font-family: var(--en-franklin-font) !important;
}
ul {
  list-style: none !important;
}

::-webkit-scrollbar {
  width: 8px;             
}
::-webkit-scrollbar-track {
  background: var(--gray-light);     
  border-radius: 10px;       
}

::-webkit-scrollbar-thumb {
  background: rgba(223, 63, 83, 0.4);  
  border-radius: 10px;      
  transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(223, 63, 83, 0.7);  
}