.our-team-slider {
  position: relative;
}
.our-team-slider .arrow-btn {
    width: clamp(24px, 3vw, 36px);
    height: clamp(24px, 3vw, 36px);
    border-radius: 50%;
    background-color: rgba(223, 63, 83, 0.7);
    box-shadow: 0 4px 4px rgba(236, 179, 186, 0.75);
    position: absolute;
    top: 25%;
    cursor: pointer;
    z-index: 20;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.our-team-slider .arrow-btn.arrow-right {
    right: -55px;
}
.our-team-slider .arrow-btn.arrow-left {
    left: -55px;
}

.our-team-slider .slick-slide > div {
    display: flex !important;
    justify-content: center !important;
}
.our-team-slider .arrow-btn img {
    position: absolute;
    width: clamp(24px, 3vw, 38px);
    height: clamp(22px, 3vw, 35px);
    top: 50%;
    transform: translateY(-50%);
}
