.brand-card {
    max-width: 201px;
    width: 100%;
}
.brand-card .card-img {
    background-color: #FFFFFF;
    width: 100%;
    height: 96px;
    overflow: hidden;
    border-top-left-radius: 24px;
    border-bottom-right-radius: 24px;
}
.brand-card .card-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.brand-card .brand-card-name {
    max-width: 84px;
}
.brand-card .brand-card-name > h4 {
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
    vertical-align: middle;
    color: var(--text-gray-dark);
}
